.CheckoutProduct{
    display :flex;
}

.CheckoutProduct_image{
    object-fit:contain;
    width :180px;
    height:180px;
}

.ckout_info{
padding-left:20px;
}

.CheckoutProduct__rating{
    display :flex;
}

.CKoUT__title{
    font-size:17px;
    font-weight:700;
}

.ckout_info> button{
    background: #f7bb25; 
    border-radius: 3px;
    border-color: #D5D9D9;
    border: 0;
    cursor: pointer;
    top: 0;
    line-height: 19px;
    outline: 0;
    overflow: visible;
    z-index: 20;
    /* background: #ffd814; */
    border: 1px solid;
    margin-top: 10px;
    border-color: transparent;
    margin-top: 10px;
}