.CheckoutProduct{
    display :flex;

}

.CheckoutProduct_image{
    object-fit:contain;
    width :180px;
    height:180px;
}

.ckout_info{
padding-left:20px;
}
.CheckoutProduct__rating{
    display :flex;
}
.CKoUT__title{
    font-size:17px;
    font-weight:700;
}
.ckout_info> button{
    background: #f0c14b;
    border: 1px solid;
    margin-top :10px;
    border-color: #a88734 #9c7e31 #846a29;
    color : #111;
}